th{
    background: #03A9F4;
    border: solid 1px !Important;
    font-family: cursive;
}

h2{
    text-align: center;
}

html{
    height: 100%;
}

div[id=headMessage]{
    font-family: cursive;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    text-align: center;
}

.answered {
    color: #666 !important;
    font-weight: bold;
}

a{
    color: #666 !important;
}

td{
    padding: 1px !important;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0 !important;
    z-index: 1000;
}

.content{
    margin-top:80px !important;
}

